@import 'config';
html, body {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::before {
    background-image: url('../images/bodyback.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
    animation: grow 15000ms ease;
  }
  @keyframes grow {
    0%{transform: scale(1)};
    100%{transform: scale(1.5)}; 
  }
}

header {
  z-index: 2000;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: white;
  box-shadow: $box-shadow;
  .logo {
    position: absolute;
    top: -13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    right: 15px;
  }

  p {
    font-size: 20px;
    font-family: 'Norican';
  }

  .hamburger-icon {
    position: absolute;
    top: -8px;
    right: 30px;
    width: 30px;
    z-index: 5000;
    cursor: pointer;
    display: block;
    @include easeOut;

    .line-1 {
      width: 28px;
    }

    .line-2 {
      width: 22px;
      margin-left: 6px;
    }

    .line-3 {
      width: 18px;
      margin-left: 10px;
    }

    .btn-line {
      height: 3px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 10%;
      background: #65413A;
      @include easeOut;
    }

    &.close {
      transform: rotate(180deg);

      .btn-line {

        //Line 1 rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          background: $secondary-color;
        }

        //Line 2 Hide
        &:nth-child(2) {
          opacity: 0;
        }

        //Line 2 Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -5.5px);
          background: $secondary-color;
        }
      }
    }
  }
  #hide {
    display: none;
  }
}


