$primary-color: #684841;
$secondary-color: #DE8936;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
0 2px 4px 0 rgba(0, 0, 0, 0.08);
$border-color: rgba(black, 0.3);
$whitey: #fff;
@mixin easeOut {
    transition: all 0.5s ease-out;
}

//Media Query Mixin
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 768px) and (max-width: 990px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 991px) {
        @content;
    }
}

